@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    //setting up Optimizely;
    var optimizelyClient = OptimizelySDK.OptimizelyFactory.NewDefaultInstance(System.Configuration.ConfigurationManager.AppSettings["Optimizely:sdkKey"]);

    //for the sake of the test project
    var user = optimizelyClient.CreateUserContext("");

    //feature flag
    var decision = user.Decide("enable_messenger_chat");
    var enableMessengerChat = decision.Enabled;

    //retrieving the page id
    var pageId = decision.Variables.GetValue<string>("page_id");
}

@if (enableMessengerChat & !string.IsNullOrWhiteSpace(pageId))
{
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v10.0'
          });
        };

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution="biz_inbox"
         page_id="@pageId">
    </div>
}
